.content {
  padding: 0%;
  max-width: 100%;
  height: auto;
  width: 100%;
  height: 100vh;
  position: relative;
}

.content__nav {
  color: rgb(2, 2, 152);
  display: flex;
  overflow: hidden;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.logo {
  text-align: left;
  margin-top: 5px;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  padding-left: 20px;
}

.content__btm {
  display: flex;
  float: left;
  width: 300px;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
}

.btm__name{
  flex: 1 0 auto;
}

.content__img {
  text-align: right;
}

.content__item {
  font-size: 16px;
}

.content__item {
  width: 45%;
  height: 30%;
  margin-top: 100px;
  position: relative;
  z-index: 2;
}

.content__txt {
  font-size: 60px;
  position: relative;
  bottom: 200px;
}

.content__box {
  width: 1100px;
  height: 100px;
  height: 200px;
  text-align: left;
  background-color: blue;
  background-color: rgb(2, 2, 152);
  position: relative;
  bottom: 200px;
  z-index: 1;
}